section{
  height: 500px;
  background-color: beige;
  width: 50%;
  margin: auto;
}

h1{
  text-align: center;
}

li{
list-style: none;
}

button{
  background-color: yellow;
  font-weight: bold;

}
